{% extends "base.html" %}

{% block title %}
Drinkin tiedot
{% endblock %}

{% block content %}
<!DOCTYPE html>
        
  <h1>{{Drinkki.nimi}}</h1>
  {% if message %}
  <br>
    <div class="alert alert-success">
  {{message}}
    </div>
{% endif %}
  <p>
    {{forms.destroy_button("#{base_path}/drinks/#{Drinkki.id}/destroy")}}
    <a href="{{base_path}}/drinks/edit/{{Drinkki.id}}" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
 
  <h3><strong>Nimi:</strong></h3>
  <p>{{Drinkki.nimi}}</p>
  <h3><strong>Tyyppi:</strong></h3>
  <p>{{Drinkki.tyyppi}}</p>
  <h3><strong>Ainesosat:</strong></h3>
  <p>{{Drinkki.ainesosat}}</p>
  <h3><strong>Kuvaus:</strong></h3>
  <p>{{Drinkki.kuvaus}}</p>
    </body>
</html>
{% endblock %}