{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
  <h1>Muokkaa drinkkiä</h1>
  
  <form method="post" action="{{base_path}}/drinks/{{drinks.id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>
  <br><br>
  <form>
    <div class="form-group">
      <label>NIMI</label>
      <input type="text" class="form-control" value="Rommikola">
    </div>
    <div class="form-group">
      <label>TYYPPI</label>
      <input type="text" class="form-control" value="Juomasekoitus">
    </div>
    <div class="form-group">
      <label>AINESOSAT</label>
      <input type="text" class="form-control" value="Rommi, Coca-Cola">
    </div>
    <div class="form-group">
      <label>KUVAUS</label>
      <textarea class="form-control">
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
    </body>
</html>
{% endblock %}