{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
  <h1>Drinkkiarkisto</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää drinkki</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Julkaisupäivä</th>
        <th>Julkaisija</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="/tsoha/drinks/1">Rommikola</a></td>
        <td></td>
        <td></td>
        <td>9.12.2014</td>
        <th><a class="btn btn-default btn-sm" href="/tsoha/drinks/edit">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
    </body>
</html>
{% endblock %}